div#manager-container.row-fluid
	div.span10.text-left
		div(data-toggle='buttons-radio').btn-group
			button(type='button', disabled)#btn-selection.btn.btn-danger.btn-large.btn-draw
				i.icon-hand-up.icon-white
				| Selection
			button(type='button', disabled)#btn-new-place.btn.btn-danger.btn-large.btn-draw
				i.icon-pencil.icon-white
				|New Place
			button(type='button', disabled)#btn-new-transition.btn.btn-danger.btn-large.btn-draw
				i.icon-pencil.icon-white
				| New Transition
			button(type='button', disabled)#btn-new-arc.btn.btn-danger.btn-large.btn-draw
				i.icon-pencil.icon-white
				| New Arc
			button(type='button', disabled)#btn-add-token.btn.btn-danger.btn-large.btn-draw
				i.icon-plus.icon-white
				| Add Token
			button(type='button', disabled)#btn-remove-token.btn.btn-danger.btn-large.btn-draw
				i.icon-minus.icon-white
				| Remove Token
	div.span2.text-right
			button(type='button', disabled, data-toggle='button')#btn-simulation.btn.btn-warning.btn-large
				i.icon-flag.icon-white
				| Simulation
	div.row-fluid
		div#drawer-container.span12
			div.well
				div#container
				


				